@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Orbit-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2")
    format("woff2");
}

@media (max-width: 800px) {
  .toastui-editor-defaultUI-toolbar {
    max-width: 100%;
    overflow-x: scroll;
  }
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5px;
  line-height: 170%;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 170%;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}

h5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
}

h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}
