@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KartriderMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/KartriderMedium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "KartriderBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/KartriderBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "KartriderExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/KartriderExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}

.contents-container pre {
  max-width: 100%;
  overflow: auto;
  background-color: #123;
  padding: 16px;
}
.contents-container figure {
  max-width: 100%;
  overflow: auto;
}

.dark .skeleton {
  background: linear-gradient(
    90deg,
    #4b5563 30%,
    #6b7280 38%,
    #6b7280 40%,
    #4b5563 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load 2.5s infinite;
}

.skeleton {
  background: linear-gradient(
    90deg,
    #e5e5e5 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load 0.3s infinite;
}

@keyframes load {
  100% {
    background-position: -100% 0;
  }
}
